<div class="full-height-centered-flex-container" style="width: 80%; margin: auto;">
  <p mat-dialog-title>{{event.name}}</p>
  <mat-card>
  <mat-dialog-content class="mat-typography">
    <h3><strong>City</strong></h3>
    <p>{{city.name}}</p>

    <h3><strong>Description</strong></h3>
    <p>{{event.longDescr}}</p>

    <div *ngIf="tickets.length == 0" style="text-align: center; background: indianred; width: 10%; min-width: 100px;  border-radius: 10px;">
      <h3><strong>All ticket are sold out :/</strong></h3>
    </div>

    <div *ngIf="tickets.length != 0">
    <h3><strong>Tickets Left</strong></h3>
    <p>VIP: {{vipTickets.length}}</p>
    <p>Basic: {{basicTickets.length}}</p>


    <h3><strong>Tickets Prices</strong></h3>
    <p *ngIf="event.free">Free</p>
    <div *ngIf="!event.free">
      <p>VIP from {{(+vipTickets[0].price / 100)}}€</p>
      <p>Basic from {{(+basicTickets[0].price / 100)}}€</p>
    </div>
    </div>

  </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="buttonBack" mat-raised-button routerLink="../../">Back</button>
      <button *ngIf="tickets.length != 0" mat-raised-button (click)="openDialog(event)">Buy ticket</button>
    </mat-dialog-actions>
  </mat-card>
</div>
