.content {
  width: 80%;
  margin: auto;
  text-align: center;
}
:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;

}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: 600px;
}

/*.app-toolbar {*/
/*  position: sticky;*/
/*  position: -webkit-sticky; !* For macOS/iOS Safari *!*/
/*  top: 0; !* Sets the sticky toolbar to be on top *!*/
/*  z-index: 1000; !* Ensure that your app's content doesn't overlap the toolbar *!*/
/*}*/
