<div style=" margin: auto;
  width: 50%;
  padding: 10px;">
  <p style="text-align: center" mat-dialog-title>{{event.name}}</p>
  <mat-dialog-content class="mat-typography"style=" margin: auto;
  width: 50%;
  padding: 10px;">
    <form [formGroup]="eventFormGroup" (ngSubmit)="saveEvent()" style=" margin: auto;
  width: 50%;
  padding: 10px;">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" type="text" matInput  placeholder="Name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Free?</mat-label>
          <mat-select formControlName="isFree">
            <mat-option [value]="true">Free</mat-option>
            <mat-option [value]="false">Paid</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Short Description</mat-label>
          <input formControlName="shortDescription" type="text" matInput  placeholder="Short Description">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Long Description</mat-label>
          <input formControlName="longDescription" type="text" matInput  placeholder="Long Description">
        </mat-form-field>
      </div>

      <div>
        <button type="submit" mat-raised-button color="primary">Save changes</button>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!--  <button mat-button mat-dialog-close>Cancel</button>-->
    <button mat-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
</div>
