.center {
  display: flex;
}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  max-height: 50%;
}

/*mat-card img{*/
/*  object-fit: cover; !*this makes the image in src fit to the size specified below*!*/
/*  width: 100%; !* Here you can use wherever you want to specify the width and also the height of the <img>*!*/
/*  height: 80%;*/
/*}*/
