<div class="full-height-centered-flex-container">
  <p mat-dialog-title>Username: {{userName}}</p>
  <p mat-dialog-title>Role: {{userRole}}</p>
    <h3>Bought tickets:</h3>
    <table mat-table [dataSource]="boughtTickets" class="mat-elevation-z8">

      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Event">
        <th mat-header-cell *matHeaderCellDef> Event </th>
        <td mat-cell *matCellDef="let element"> {{element.event}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{+(element.price / 100)}}€</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button [routerLink]="['/cities', element.cityId, 'events', element.eventId, 'tickets', element.id]">
            View
          </button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <!--  <button mat-button mat-dialog-close>Cancel</button>-->
    <button style="margin-top: 2%" mat-raised-button  routerLink="../">Back</button>


</div>
