<div style="height: calc(100vh - 65px);">
<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="companyName" routerLink="/">
    <div class="icon">
      <mat-icon svgIcon="judesys" [inline]="true">done</mat-icon>
    </div>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
        <button mat-button routerLink="/cities">
          Explore Cities
        </button>
      <button mat-button routerLink="/">
        Explore Events
      </button>
      <button mat-button routerLink="/">
        Explore Free Events
      </button>
    <button *ngIf="checkIfLoggedIn()" mat-icon-button matTooltip="Account">
      <mat-icon>account_circle</mat-icon>{{userName}}
    </button>
    <button *ngIf="checkIfAdmin()" mat-icon-button matTooltip="Admin panel" style="margin-left: 5%" mat-button routerLink="/admin">
      <mat-icon>account_circle</mat-icon>Admin panel
    </button>
  </div>
  <span class="example-spacer"></span>

  <div fxShow="true" fxHide.lt-md="true">
      <button *ngIf="!checkIfLoggedIn()"  mat-button routerLink="/login">
        Login
      </button>
      <button *ngIf="!checkIfLoggedIn()"  mat-button routerLink="/register">
        Register
      </button>

    <button *ngIf="checkIfLoggedIn()" mat-icon-button matTooltip="Logout" (click)="logout()" style="margin-right: 5%">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </div>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <span class="navbar-spacer"></span>

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <button mat-button routerLink="/cities">
        Explore Cities
      </button>
      <button mat-button routerLink="/">
        Explore Events
      </button>
      <button mat-button routerLink="/">
        Explore Free Events
      </button>
      <span class="navbar-spacer"></span>
      <div *ngIf="!checkIfLoggedIn()">
        <button mat-button routerLink="/login">
          Login
        </button>
        <button mat-button routerLink="/register">
          Register
        </button>
      </div>
      <div *ngIf="checkIfLoggedIn()" style="margin: auto">

        <button *ngIf="checkIfLoggedIn()" mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>Logout
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>


<!--<mat-toolbar color="primary" class="mat-elevation-z8">-->
<!--  <span class="sitename">JUDESYS.LT</span>-->
<!--  <span class="navbar-spacer"></span>-->
<!--    <button mat-button routerLink="/cities">-->
<!--      Explore Cities-->
<!--    </button>-->
<!--  <button mat-button routerLink="/">-->
<!--    Explore Events-->
<!--  </button>-->
<!--  <button mat-button routerLink="/">-->
<!--    Explore Free Events-->
<!--  </button>-->
<!--  <span class="navbar-spacer"></span>-->
<!--  <button mat-button routerLink="/login">-->
<!--    Login-->
<!--  </button>-->
<!--  <button mat-button routerLink="/register">-->
<!--    Register-->
<!--  </button>-->
<!--  </mat-toolbar>-->

