<div style="height: calc(100vh - 65px);">
<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="companyName" routerLink="/">
    <span class="sitename">JUDESYS.LT</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
        <button mat-button routerLink="/cities">
          Explore Cities
        </button>
      <button mat-button routerLink="/">
        Explore Events
      </button>
      <button mat-button routerLink="/">
        Explore Free Events
      </button>
<!--      <span class="navbar-spacer"></span>-->

    <button mat-button routerLink="/login">
        Login
      </button>
      <button mat-button routerLink="/register">
        Register
      </button>
<!--    <a mat-button routerLink="/prices">Prices</a>-->
<!--    <a mat-button routerLink="/start-page">Start page</a>-->
<!--    <a mat-button routerLink="/offer">Offer</a>-->
<!--    <a mat-button routerLink="/contact">Contact</a>-->
  </div>
  <span class="example-spacer"></span>


</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
  <span class="navbar-spacer"></span>

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <button mat-button routerLink="/cities">
        Explore Cities
      </button>
      <button mat-button routerLink="/">
        Explore Events
      </button>
      <button mat-button routerLink="/">
        Explore Free Events
      </button>
      <span class="navbar-spacer"></span>
      <button mat-button routerLink="/login">
        Login
      </button>
      <button mat-button routerLink="/register">
        Register
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>


<!--<mat-toolbar color="primary" class="mat-elevation-z8">-->
<!--  <span class="sitename">JUDESYS.LT</span>-->
<!--  <span class="navbar-spacer"></span>-->
<!--    <button mat-button routerLink="/cities">-->
<!--      Explore Cities-->
<!--    </button>-->
<!--  <button mat-button routerLink="/">-->
<!--    Explore Events-->
<!--  </button>-->
<!--  <button mat-button routerLink="/">-->
<!--    Explore Free Events-->
<!--  </button>-->
<!--  <span class="navbar-spacer"></span>-->
<!--  <button mat-button routerLink="/login">-->
<!--    Login-->
<!--  </button>-->
<!--  <button mat-button routerLink="/register">-->
<!--    Register-->
<!--  </button>-->
<!--  </mat-toolbar>-->

